<div class="container">
    <div class="label">Card Number*</div>
    <input type="text" class="input" name="cardnumber[]" maxlength="4" OnlyNumber="true" (paste)="onPaste($event)" (input)="onInput($event)" [(ngModel)]="input1" autofocus>
    <input type="text" class="input" name="cardnumber[]" maxlength="4" OnlyNumber="true" (paste)="onPaste($event)" (input)="onInput($event)" [(ngModel)]="input2">
    <input type="text" class="input" name="cardnumber[]" maxlength="4" OnlyNumber="true" (paste)="onPaste($event)" (input)="onInput($event)" [(ngModel)]="input3">
    <input type="text" class="input" name="cardnumber[]" maxlength="4" OnlyNumber="true" (paste)="onPaste($event)" (input)="onInput($event)" [(ngModel)]="input4">
</div>
<!-- {{input1}}-{{input2}} -->